@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-h1 {
    background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
    background-size: 600% 100%;
    animation: gradient 5s linear infinite;
    animation-direction: alternate;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradient {
    background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
    background-size: 600% 100%;
    animation: gradient 5s linear infinite;
    animation-direction: alternate;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }